<div class="topic-header row">
  <h1 class="topic-title">Topics</h1>

  <ul class="topic-toolbar">
    <li class="active"><a href="#">List</a></li>
    <!--<li><a href="#">Map</a></li>-->
    <li><a href="#">Discuss</a></li>
  </ul>
</div>

<div class="group">
  <% @topics.each do |topic| %>
    <div class="group-item">
      <h2><%= link_to topic.name, topic %></h2>
      <div><p><%= topic.description %></p></div>
    </div>
  <% end %>
</div>

<%= link_to 'New Topic', new_topic_path %>
