<% if @neighborhoods.size > 0 %>
<section id="neighborhoods" class="group small">
  <h1 class="group-title">Neighborhoods:</h1>
  <% @neighborhoods.each do |n| %>
    <div class="neighborhood group-item">
      <h2><%= link_to n.name, n %></h2>
    </div>
  <% end %>
</section>
<% end %>