<% title 'Recent posts' %>

<div class="main-content">
  <section class="posts group">
  <h1 class="group-title">Recent posts:</h1>
  <% @posts.each do |post| %>
    <div class="post group-item">
      <h2>
        <%= link_to post.title, post %>
      </h2>

      <p><%= teaser(post.content) %></p>
    </div>
  <% end %>
  </div>
</section>

<div class="sidebar">
  <%= render "shared/communities_small_list" %>
  <%= render "shared/neighborhoods_small_list" %>
</div>