<div class="posts group">
<% @posts.each do |post| %>
  <div class="post group-item">
    <h2>
      <%= link_to post.title, post %>
    </h2>

    <div>
      <%= teaser(post.content) %>
    </div>
  </div>
<% end %>
</div>