<% if @post.images.first %>
  <%= image_tag @post.images.first.file.url(:wide), class: 'post-image' %>
<% end %>

<h1 class="post-title">
  <%= @post.title %>
</h1>

<div class="post-content">
  <%= markdown(@post.content) %>
</div>