#post {
  padding-top: 30px;
}

#post h2 {
  font-weight: 300;
}

#post .post-content p {
  margin-bottom: 20px;
}

.posts {
  margin-bottom: 30px;
}

.posts h3.post-title {
  margin-top: 5px;
}

.posts .post-content p {
  margin-top: 10px;
}

#categories {
  margin: 0px;
  padding: 0px;
}

#categories li {
  display: inline-block;
  font-size: 12px;
}

#categories li a {
  background-color: #fafafa; 
  padding: 3px 5px;
}

.post {
  padding-bottom: 0px;
  border-bottom: 1px solid #efefe2;
  margin-bottom: 30px;
}

.post-date {
  margin-bottom: 5px;
  font-size: 0.7em;
  text-transform: uppercase;
  text-align: left;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  clear: both;
}

.post-content img {
  max-width: 100%;
  height: auto;
}

.post-main-image {
  margin-bottom: 30px;
}

.credits {

  p {
    font-size: 0.5em;
    margin: 0px;
    font-style: italic;
  }
}

.map-field {
  margin-bottom: 30px;
}

#neighborhood_geometry {
  display: none;
}