.topic-header {
  height: 45px;
  margin-bottom: 20px;
  border-bottom: 1px solid #efefe2;
}

.topic-title {
  font-weight: 300;
  margin-top: 0px;
  text-align: left;
  font-size: 28px;
  letter-spacing: -1px;
  margin-bottom: 0px;
  float: left
}

ul.topic-toolbar {
  margin: 0px 0px 0px 30px;
  padding: 0px;
  float: left;
  height: 50px;
  line-height: 50px;

  li {
    display: inline-block;
    font-size: 16px;

    a {
      padding: 7px 14px;
      border-left: 1px solid #efefe2;
      border-right: 1px solid #efefe2;
      border-top: 1px solid #efefe2;
      border-radius: 2px;
    }
  }
}

#topic-description {
  margin-top: 10px;
  margin-bottom: 30px;
}

.topic-image {
  width: 100px;
  height: auto;
  float: right;
  margin-left: 50px;
}

@media (min-width:960px){
  .topic-image {
    width: 250px;
  }
}

.parent-page {
  float: right;
  display: block;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
}

.localwiki-pages {
  margin: 0px;
  padding: 0px;
  text-align: center;

  .page {
    width: 250px;
    text-align: left;
    display: inline-block;
    border: 0px;
    vertical-align: top;
    background-color: #f9f9f7;
    margin: 0px 0px 5px 0px;
    padding: 5px 10px;

    h3 {
      font-size: 0.8em;
      margin: 0px;
      padding: 0px;
    }
  }
}